.about-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .education-card,
  .skills-card,
  .interests-card,
  .profile-card {
    background-color: grey;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .profile-img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
  }
  
  .education-card h3,
  .skills-card h3,
  .interests-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgreen;
    margin-bottom: 0.5rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    color: lightgreen;
  }
  