.projects-header{
    text-align:center;
    padding: 4rem 0 2rem 0;
}

.project-card {
    background-color: grey;
    padding: 1.2rem 1rem;
    border-radius: 15px;
}

.project-title{
    color:lightgreen;
    text-align: center;
    padding: 1rem 0;
}

.project-description{
    color: lightgreen;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

.projectcard-container{
    max-width: 650px;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    padding-bottom: 5rem;

}
.project-card img{
    width: 100%;
    border-radius: 15px;
}

.btn {
    appearance: none;
    background-color: lightgreen;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }

@media screen and (max-width:740px) {
    .projectcard-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}